.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 20px;
  box-shadow: 0px 1px 6px #acb7c4;
}

.navbar_left {
  margin-left: 10px;
  font-weight: bold;
}
.navbar_left b {
  color: #007bff;
}

.navbar_right {
  display: flex;
  align-items: center;
}

.navbar_profile_search {
  position: relative;
  display: flex;
  align-items: center;
}

.navbar_profile_search input {
  padding: 10px 50px 8px 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background-color: #f4f5f8;
  outline: none;
  margin-top: 12px;
  margin-right: 80px;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 100px;
  color: #666;
}

.navbar_profile_button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.navbar_profile_image {
  width: 30px;
  height: 30px;
  background-color: orangered;
  border-radius: 6px;
  margin-right: 10px;
  overflow: hidden;
}

.navbar_profile_image img {
  width: 100%;
}
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
