* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
}

.register {
  margin: 10vh auto;
  width: 80vw;
  height: 70vh;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
}

.register-cover {
  background-image: url(../public/registerimg.jpg);
  background-size: cover;
  width: 50%;
  height: 100%;
}

.register-content {
  width: 50%;
  text-align: center;
  padding: 1.5rem; /* Ajustement de la taille du padding */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  height: calc(100% - 2rem);
}

.register-content h1 {
  color: #333;
  font-size: 2.5rem; /* Réduction de la taille de la police */
  margin-bottom: 1rem; /* Réduction de la marge inférieure */
}

.register-content p {
  color: #666;
  font-size: 1rem;
}

.form-group {
  margin-bottom: 1rem; /* Réduction de la marge inférieure */
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
input[type="date"] {
  width: 150%;
  padding: 0.5rem; /* Réduction de la taille du padding */
  font-size: 1rem; /* Réduction de la taille de la police */
  border: 1px solid #433e3e;
  border-radius: 10px;
  margin-right: 150%; /* Centrer horizontalement */
}

input[type="file"] {
  font-size: 0.9rem; /* Réduction de la taille de la police */
  border: none;
  align-items: center;
  display: flex;
}

button.signup {
  padding: 0.6rem 1.5rem; /* Réduction de la taille du padding */
  font-size: 0.9rem; /* Réduction de la taille de la police */
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.signup:hover {
  background-color: #0056b3;
}

.error {
  color: #fe7621;
  font-size: 0.9rem;
  margin-top: 0.2rem;
  display: flex;
  align-items: center;
}

.error-icon {
  margin-right: 0.5rem;
}

.error-text {
  font-weight: bold;
}
